/* Put your style information here! */

body {
  width: 100%;
	background-color: #370617;
  font-family: "Futura", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #ffba08;
  font-weight: lighter;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
}

h0 {
  font-size: 70px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #ffba08;
  font-weight: bold;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
}

h1 {
  font-size: 60px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #ffba08;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
}

h2 {
  font-size: 40px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #e85d04;
  font-weight: bold;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;

}

h3 {
  font-size: 35px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #f48c06;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: left;
}

h4 {
  font-size: 16px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #ffba08;
  font-weight: lighter;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: left;
}

li {
  font-size: 12px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #ffba08;
  font-weight: lighter;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: left;
  indent:0;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.form-control::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffba08;
  opacity: 1; /* Firefox */
}

input[type=text] {
  // input elements with type="text" attribute
  color: #ffba08;
}

input, select, textarea{
    color: white;
}

textarea:focus, input:focus {
    color: white;
}

#submit {
  float:right;
  color: #6a040f;
  background-color: #ffba08;
  border: none;
  box-shadow: 0 8px #9d0208;
  color: #9d0208;
}

#submit:hover {
  background-color: #f48c06;
}

#submit:active{
  transform: translateY(6px);
  background-color: #dc2f02;
  box-shadow: 0 4px #6a040f;
}

.form-control {
    background-color:#9d0208;
    border: none;
    color: #6a040f;
}
.form-control:hover {
  background-color:  #dc2f02;
}

.form-control:active {
  background-color:  #e85d04;
  border: 0;
}
.form-control:focus{
  background-color:  #e85d04;
  border: none;
}

ul {
  padding-left: 10px;
  list-style-position: inside;
  text-align: left;
  list-style-type: square;
}
ol {
  padding-left: 50px;
  list-style-position: inside;
  text-align: left;
}

@media all and (min-width: 0px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #ffba08;
}

.nav-link{
  font-size: 16px;
}

#navbar-toggler {
    background-color: #ffba08;
   }

.nav {
  text-align: center;
  float: none;
}

.navbar-nav {
    margin: 0;
    width: 100%;
    text-align: center;
}

.dropdown-menu{
  background-color: #ffba08;
}

#dropdown-item:hover{
  color: #ffba08;
  background-color: #9d0208;
}

#big-container {
  background-color: #9d0208;
}

#header-picture-big{
  padding: 0;
  margin: 0;
  width: 100%;
}
#header-picture-small{
  padding: 0;
  margin: 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  #header-picture-small {
    display: none;
  }
}
@media screen and (max-width: 767.9px) {
  #header-picture-big {
    display: none;
  }
}

.flex-col-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  flex: 0 1 auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  flex-shrink: 1;
}

@media screen and (max-width: 600px) {
  .flex-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1300px) {
  .mid-only {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .desktop-only {
    display: none;
  }
}

.flex-col {
  padding: 0;
}


#title{
  color: #370617;
  font-weight: bold;
  font-size: 30px;
}

#navbarDropdown{
  color: #6a040f;
  font-size: 16px;
}

#jumbotron{
  background: url("./assets/background.jpg") center fixed;
  background-size: cover;
}

.small-container{
  background-color: #6a040f;
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.small-top-container{
  background-color: #6a040f;
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tiny-container{
  background-color: #03071e;
  height: 1vh;
}

.creditcard_image {
  height: 50px;
  width: auto;
}

#Footer {
  background-color: #03071e;
  font-size: 12px;
}

#col{
  min-width: 500px;
}

#col-float {
  float: right;
}

#button{
  background-color: #ffba08;
  border: none;
  box-shadow: 0 8px #9d0208;
  color: #9d0208;
}
#submit{
  background-color: #ffba08;
  border: none;
  box-shadow: 0 8px #9d0208;
  color: #9d0208;
}

#btn{
  background-color: #ffba08;
  border: none;
  box-shadow: 0 8px #9d0208;
  color: #9d0208;
}

#button:hover{
  background-color: #f48c06;
}

#button:active{
  transform: translateY(6px);
  background-color: #dc2f02;
  box-shadow: 0 4px #6a040f;
}

#image-link:hover{
  opacity: 70%;
}

#image-link:active{
  opacity: 70%;
  background-color: #9d0208;
}

#navbarDropdown:hover{
  color: #9d0208;
}

@media (max-width: 768px) {
  nav.navbar {
    background: #9d0208;
  }
}

.navbar-header{
  font-size: 3px;
}

.navbar-collapse {
    background: #ffba08;
}

.carousel {
  height: 20%;
  width: 100%;
}

.img-fluid {
  height: 20%;
  width: 100%;
}


.carousel-item img {
  height: 20%;
}

.small_logo{
  max-width: 8vmin;
  max-height: auto;
}

.small_image{
  max-width: 30vmin;
  max-height: auto;
}


img {
  flex: 0 1 auto;
	min-width: 0;
	min-height: 0;
	padding: 10px;
  width: 100%;
	height:auto;
}/* Put your style information here! */



.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffba08' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffba08' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 15px;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: center;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-prev {
    left: 2% !important;
    color: #370617  !important; /*to notice it, is white*/
    height: 100px !important;
    z-index: 1 !important;
    font-size: 40px !important;
}
.slick-next {
    right: 2% !important;
    color: #370617  !important; /*to notice it, is white*/
    height: 100px !important;
    z-index: 1 !important;
    font-size: 40px !important;
}

.slick-prev::before {
    left: 2% !important;
    color: #370617  !important; /*to notice it, is white*/
    height: 100px !important;
    z-index: 1 !important;
    font-size: 40px !important;
}
.slick-next::before {
    right: 2% !important;
    color: #370617  !important; /*to notice it, is white*/
    height: 100px !important;
    z-index: 1 !important;
    font-size: 40px !important;
}
